body {
    margin: 0;
    background: #f7cfea;
    font-family: Arial, Helvetica, sans-serif;
}

.sbar {
    width: 150px;
    height: 100dvh;
    background: #123002;
    color: rgb(10, 215, 215);
    padding: 30px;
    float: left;
}

.main {
    margin-left: 200px;
    padding: 20px;
}

.title {
    background: #057af7;
    color: rgb(207, 228, 206);
    padding: 30px;
    text-align: center;
    border-radius: 10px;
}

.trow {
    margin-top: 30px;
}

.tbox {
    width: 20%;
    background: rgb(127, 10, 166);
    padding: 20px;
    border-radius: 6px;
    border-left: 5px solid #2f80ed;
    font-weight: bold;
    display: inline-block;
    margin-right: 1.5%;
    box-sizing: border-box;
}

.crow {
    margin-top: 30px;
}

.card {
    width: 30%;
    background: rgb(186, 225, 12);
    padding: 20px;
    border-radius: 6px;
    display: inline-block;
    margin-right: 2%;
    margin-bottom: 20px;
    box-sizing: border-box;
}


